server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  application:
    name: backend-service
  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: INFO
    web: INFO