server:
  port: 8080
  servlet:
    context-path: /api/v1

spring:
  application:
    name: backend-service
  profiles:
    active: dev

management:
  endpoints:
    web:
      exposure:
        include: '*'

logging:
  level:
    root: INFO
    web: INFO

jwt:
  signerKey: "2b418bf6267ab62bce4db459485786649d1c5dfe7feeb87de19d24709d8a91a9"
