spring:
  datasource:
    url: jdbc:mysql://localhost:3306/identify_service
    username: root
    password: root
    driver-class-name: com.mysql.cj.jdbc.Driver
  jpa:
    hibernate:
        ddl-auto: update
    show-sql: true

springdoc:
  api-docs:
    enabled: true
  swagger-ui:
    enabled: true

openapi:
  service:
    api-docs: backend-service
    server: http://localhost:${server.port}
    title: Backend service
    version: 1.0.0

jwt:
  signerKey: "2b418bf6267ab62bce4db459485786649d1c5dfe7feeb87de19d24709d8a91a9"
